@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Oswald&family=Raleway&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Raleway', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: black;
	color: white;
	padding: 50px;
}

h1{
	margin-bottom: 20px;
}

p{
	margin: 5px;
	font-size: 20px;
}

.text span{
	color: red;
}

main {
	border: 3px solid white;
	padding: 50px 50px 50px 50px;
	width: 80%;
	min-width: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.alphabet{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	border: 1px solid red;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 550px;
}

.row{
	display: flex;
}

.letter {
	padding: 10px;
	margin: 5px;
	border: 1px solid white;
	width: 40px;
	text-align: center;
}

.letter:hover {
	font-weight: 800;
	border: 1px solid red;
	color: red;
	background-color: white;
	cursor: pointer;
}

.letter.contained{
	background-color: rgb(166, 255, 76);
	color: black;
}

.letter.not-contained{
	background-color: rgb(255, 86, 86);
	color: black;
}

.letter.contained:hover, .letter.not-contained:hover {
	border: 1px solid white;
	font-weight: initial;
}

#secretWord{
	padding: 50px 0 20px 0;
	font-size: 40px;
}